doctype
html(lang='ja')
	head
		meta(charset='utf-8')
		title SunPro C89 特設ページ
		link(rel='stylesheet', href='assets/index.css')
		script(src='https://use.typekit.net/lnq1swp.js')
		script.
			try {
				Typekit.load({async: true});
			} catch (e) {}
	body
		header
			h1.tk-museo
				span SunPro
				img(src = 'assets/logo.png', alt = 'ロゴ')
				span C89
		div.body
			
