@import (inline) "node_modules/purecss/build/pure.css";
@import (inline) "node_modules/purecss/build/grids-responsive.css";

@modern-sans-serif: "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif;
@old-sans-serif: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "MS Cothic", "ＭＳ ゴシック", "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "Arial", "Helvetica", sans-serif;

html {
	font-family: @modern-sans-serif;
	background: url(../images/wov.png);
    color: #333;
}

html, body {
	height: 100%;
}

.pure-g [class *= "pure-u"] {
	font-family: inherit;
}

.header-wrap {
	background-image: url(../images/d-man.jpeg);

	background-size: cover;
	background-position: center;
}

header {
	background: rgba(19, 54, 74, 0.7);

	color: white;

	padding: 24px 0;

	h1 {
		margin: 0;
		padding: 0;

		height: 480px;
		line-height: 480px;

		@media screen and (max-width: 48em) {
			height: auto;
			line-height: 2em;
		}

		font-family: "museo", serif;
		font-weight: normal;
		font-size: 8vw;

		& > * {
			display: block;
		}

		.img-before {
			text-align: right;

			@media screen and (max-width: 48em) {
				font-size: 15vw;
				text-align: center;
			}
		}

		.img-after {
			text-align: left;

			@media screen and (max-width: 48em) {
				font-size: 15vw;
				text-align: center;
			}
		}

		.img {
			text-align: center;

			img {
				width: auto;
				height: auto;
				max-width: 80%;
				max-height: 400px;
				vertical-align: middle;

				@media screen and (max-width: 48em) {
					width: 50%;
				}
			}
		}
	}

	p.place {
		margin: 0;
		padding: 0;

		text-align: center;
		font-weight: normal;
		font-size: 48px;
		font-family: @old-sans-serif;

		@media screen and (max-width: 48em) {
			font-size: 10vw;
		}
	}
}

.body {
	h1 {
		text-align: center;
		font-weight: normal;
		font-size: 40px;
	}

	h2 {
		text-align: center;
		font-weight: normal;
		font-size: 32px;
	}

	.publication {
		width: 100%;
		max-width: 1000px;

		margin: 0 auto;

		.cover {
			height: 100%;

			img {
				display: block;

				width: 50%;
				margin: 0 auto;

				position: relative;
			}
		}
	}
}
