doctype
html(lang='ja')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title SunPro C89 特設ページ
		link(rel='stylesheet', href='assets/index.css')
		script(src='https://use.typekit.net/lnq1swp.js')
		script.
			try {Typekit.load({async: true})} catch (e) {}
	body
		.header-wrap
			header
				h1.tk-museo.pure-g
					span.img-before.pure-u-1.pure-u-md-1-3 SunPro
					span.img.pure-u-1.pure-u-md-1-3
						img(src='images/logo.png', alt='ロゴ')
					span.img-after.pure-u-1.pure-u-md-1-3 C89

				p.place.pure-u-1 3日目 東ム-45a

		div.body
			h1.pure-u-1 頒布情報

			h2 「SunPro会誌 2016」

			div.publication
				div.left
					div.cover
						img(src='images/cover.jpg')

				div.right
					a(href='https://github.com/hakatashi/SunPro-C89')
						div.github-link
							span.mega-octicon.octicon-mark-github

					div.chapters
						each chapter in catalog
							div.chapter
								p.title
									//- https://github.com/pugjs/jade/issues/2198
									if chapter.chapters
										a(href='pub/' + chapter.slug + '/' + chapter.chapters[0])= chapter.title
									else
										a(href='pub/' + chapter.slug + '/' + chapter.slug + '.pdf')= chapter.title

								ul.links
									each format in chapter.formats
										li
											if format === 'html'
												a(href='pub/' + chapter.slug + '/' + chapter.chapters[0]) HTML
											else if format === 'pdf'
												a(href='pub/' + chapter.slug + '/' + chapter.slug + '.pdf') PDF
