@import (inline) "node_modules/normalize.css/normalize.css";

html {
	font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif;
	color: #333;
	word-wrap: break-word;
}

html, body {
	width: 100%;
}

body {
	background: #111;
}

* {
	box-sizing: border-box;
}

header {
	margin: 1em 0 0;
	text-align: center;

	a {
		color: white;

		&, &:active, &:hover {
			text-decoration: none;
		}
	}

	img.logo {
		width: 320px;
		max-width: 100%;
	}

	h1 {
		margin: 0;
		padding: 0 0.5em;

		min-height: 1.5em;
		line-height: 1.5em;

		color: white;
	}
}

.body-wrap {
	width: calc(~"100% - 16px");
	max-width: 720px;
	margin: 0 auto;
	padding: 1em 0;

	background: rgba(255, 255, 255, 0.95);
	border-radius: 10px;
}

p {
	margin: 0.8em 5%;
	line-height: 1.8em;
	word-wrap: break-word;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #2784E7;

	&:hover, &:active {
		text-decoration: underline;
	}
}

pre {
	background: #DDD;
	padding: 0.5em;
	margin: 0;

	border-radius: 5px;
	overflow-x: auto;

	text-align: left;
	font-size: 0.8em;
	color: #222;
	word-wrap: normal;
}

div.body-wrap h1 {
	font-size: 42px;
	font-family: serif;
	text-align: center;
	line-height: 1.2em;
	background: #D2D2D2;
	color: #1D1D1D;
	padding: 5px 0;
	margin-top: 0;

	.secno {
		display: block;
		text-align: center;
		font-family: serif;
		border-bottom: 2px groove #EDEDED;
		text-indent: 1em;
		font-size: 0.6em;
		line-height: 1.2em;
	}
}

h2 {
	margin-left: 1em;
	margin-right: 1em;
	border-bottom: 1px solid #6E8DFD;

	span.secno {
		font-size: 0.8em;
		color: darkgray;
	}
}

h3 {
	padding-left: 10%;
}

ul, ol {
	margin: 2em 0;
	padding-left: 12%;
	padding-right: 5%;

	li {
		margin: 0.5em 0;
	}
}

ul {
	list-style-type: square;
}

// imline images
img {
	width: auto;
}

div.image {
	text-align: center;

	img {
		width: auto;
		height: auto;
		max-width: 95%;
		max-height: 70vh;

		margin: 0 auto;
		padding: 2px;

		border: 1px double lightgray;
		border-radius: 3px;
	}
}

table {
	display: block;
	width: 90%;
	margin: 0 auto;

	overflow-x: auto;
	font-size: 0.8em;
	text-align: center;

	tbody {
		display: inline-block;
	}

	td, th {
		border: 1px solid gray;
		padding: 2px 6px;

		white-space: nowrap;
	}

	td {
		text-align: left;
	}

	th {
		text-align: center;
		background: lightgray;
	}
}

p.caption {
	margin: 0.2em 0;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
}

// Block-level equation
div.equation {
	width: 100%;
	overflow-x: auto;
	margin: 1.5em 0;
}

div.bibpaper {
	margin: 1em 0;
	padding: 0 5%;
}

.caption-code, .code, .emlist-code, .cmd-code, .emlistnum-code {
	width: 90%;
	text-align: center;
	margin: 1.5em auto;
}

.column {
	width: 90%;
	margin: 0 auto;
	border: 2px solid dimgray;
	border-radius: 5px;
	background: blanchedalmond;

	&:before {
		content: 'COLUMN';

		display: block;
		height: 2em;
		line-height: 2em;

		text-align: center;
		text-indent: 1.5em;
		letter-spacing: 1.5em;
		font-weight: bold;
		font-size: 12px;

		color: #B78700;
	}

	h1, h2, h3, h4, h5 {
		padding: 0;
		text-align: center;
	}
}

nav {
	display: flex;

	width: 480px;
	max-width: 100%;
	margin: 0 auto;

	& > * {
		flex-grow: 1;

		height: 48px;
		line-height: 48px;
		color: white;

		font-size: 24px;

		&.prev-button {
			text-align: left;
			margin-left: 1em;

			a:before {
				content: '◀';
			}
		}

		&.next-button {
			text-align: right;
			margin-right: 1em;

			a:after {
				content: '▶';
			}
		}
	}

	a {
		display: block;

		color: inherit;
		font-weight: inherit;

		&.disabled {
			display: none;
		}

		&, &:hover, &:active {
			text-decoration: none;
		}
	}
}
