@import (inline) "node_modules/normalize.css/normalize.css";

html {
	font-family: "Meiryo", "メイリオ", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "IPAゴシック", "IPAGothic", "Arial", "Helvetica", sans-serif;
	color: #333;
}

html, body {
	width: 100%;
}

body {
	background: #111;
}

* {
	box-sizing: border-box;
}

header {
	margin: 1em 0;
	text-align: center;

	img.logo {
		width: 320px;
		max-width: 100%;
	}
}

.body-wrap {
	width: calc(~"100% - 16px");
	max-width: 720px;
	margin: 0 auto;
	padding: 1em 0;

	background: rgba(255, 255, 255, 0.95);
	border-radius: 10px;
}

p {
	margin: 0.8em 5%;
	line-height: 1.8em;
	word-wrap: break-word;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #2784E7;

	&:hover, &:active {
		text-decoration: underline;
	}
}

pre {
	background: #DDD;
	color: #222;
	border-radius: 5px;
	padding: 0.5em;
	margin: 0;
	text-align: left;
	font-size: 0.8em;
}

h1 {
	font-size: 42px;
	font-family: serif;
	text-align: center;
	line-height: 1.2em;
	background: #D2D2D2;
	color: #1D1D1D;
	padding: 5px 0;
	margin-top: 0;

	.secno {
		display: block;
		text-align: center;
		font-family: serif;
		border-bottom: 2px groove #EDEDED;
		text-indent: 1em;
		font-size: 0.6em;
		line-height: 1.2em;
	}
}

h2 {
	margin-left: 1em;
	margin-right: 1em;
	border-bottom: 1px solid #6E8DFD;

	span.secno {
		font-size: 0.8em;
		color: darkgray;
	}
}

h3 {
	padding-left: 3em;
}

ul, ol {
	margin: 2em 0;
	padding-left: 80px;
	padding-right: 36px;

	li {
		margin: 0.5em 0;
	}
}

ul {
	list-style-type: square;
}

// imline images
img {
	width: auto;
}

div.image {
	text-align: center;

	img {
		width: auto;
		height: auto;
		max-width: 95%;
		max-height: 70vh;

		margin: 0 auto;
		padding: 2px;

		border: 1px double lightgray;
		border-radius: 3px;
	}
}

p.caption {
	margin: 0.2em 0;
	font-size: 0.8em;
	font-weight: bold;
}

.caption-code, .code, .emlist-code, .cmd-code, .emlistnum-code {
	width: 90%;
	text-align: center;
	margin: 1.5em auto;
}

footer.footer {
	display: flex;

	width: 480px;
	margin: 0 auto 5em;

	& > * {
		flex-grow: 1;

		height: 48px;
		line-height: 48px;
		color: white;

		font-size: 24px;

		&.prev-button {
			text-align: left;

			a:before {
				content: '◀';
			}
		}

		&.next-button {
			text-align: right;

			a:after {
				content: '▶';
			}
		}
	}

	a {
		display: block;

		color: inherit;
		font-weight: inherit;

		&, &:hover, &:active {
			text-decoration: none;
		}
	}
}
